.channelDetails {
  width: 355px;
  margin: 10px;
  border-radius: 5px;
}
.btnBack {
  background: none;
  border: none;
  float: left;
  position: absolute;
  z-index: 100;
  border-radius: 100%;
  outline: none;
}
.iconBack {
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 50px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}
.liVideo {
  list-style-type: none;
}
.imgChannel {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 25px;
  margin-left: 15px;
  float: left;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.channelTitle {
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
  margin-top: 70px;
}
.statisticsSpan {
  color: #ffe;
  margin-top: 10px;
  font-size: 14px;
}
.iconStatistcs {
  margin-left: 5px;
  margin-right: 5px;
}
.descriptionTitle {
  margin: 0;
  margin-top: 25px;
  margin-left: 15px;
  color: #fff;
}
.ChannelDescription {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  color: #eee;
  text-align: start;
}
